  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .header {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
  }

  .header h1 {
    margin: 0;
  }

  .header img {
    width: 100px;
    height: auto;
    margin-left: 10px;
  }

  .nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  .hero {
    background-image: url(../src/images/home-background.png);
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Ocupa 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo dentro da hero */
    text-align: center;
    color: white;
    padding: 0 20px;
  }

  .hero h2 {
    margin: 0;
  }

  .hero button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 100px;
    cursor: pointer;
  }

  .footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Faz o rodapé ficar no final da página */
  }

  .footer p {
    color: #fff;
    margin: 0;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  /* Estilos para o formulário de login */
  .login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 50px auto; /* Centraliza horizontalmente */
  }

  h1 {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .login-container a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #333;
  }

  .background-login {
    background-image: url(../src/images/login-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Faz a altura ocupar toda a tela */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo na tela */
    position: relative;
  }